@model IEnumerable<CameraBazaar.Models.ViewModels.Camera.AllCameraVm>

@{
    ViewBag.Title = "All";
}

<h2 class="text-center">All Cameras</h2>

<div class="container">
    @Html.Partial("_ListCameras")
</div>