@model IEnumerable<CarDealer.ViewModels.Customers.CustomerViewModel>

@{
    ViewBag.Title = "All";
}

<h2>All</h2>

<table class="table">
    <tr>
        <th>
            Name:
        </th>
        <th>
            BirthDate
        </th>
        <th>
            IsYoungDriver
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsYoungDriver)
        </td>
    </tr>
}

</table>
