@model CarDealer.ViewModels.Parts.EditPartViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form method="POST">
    <div class="form-horizontal">
        <hr />
        <input type="hidden" name="Id" value="@Model.Id"/>
        <div class="form-group">
            <label for="price" class="control-label col-md-2">Price:</label>
            <input type="number" step="0.01" min="0" name="Price" id="price" class="form-control col-md-10" value="@Model.Price"/>
        </div>

        <div class="form-group">
            <label for="quantity" class="control-label col-md-2">Quantity:</label>
            <input type="number" step="0.01" min="0" name="Quantity" id="quantity" class="form-control col-md-10" value="@Model.Quantity"/>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>