
@{
    ViewBag.Title = "Index";
}

<h2>Welcome!</h2>
<ul>
    <li>@Html.ActionLink("All Customers", "All", "Customers")</li>
    <li> Sales
        <ul>
            <li>@Html.ActionLink("All Sales", "All", "Sales")</li>
            <li>@Html.ActionLink("Discounted Sales", "Discounted", "Sales")</li>
        </ul>
    </li>
    <li>
           @Html.ActionLink("Cars", "All", "Cars")
    </li>
</ul>

